body {
    background-color: #aaaaaa;
}

.notif {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background-color: #999999;
}

.header {
	display: flex;
	align-items: center;
	height: 80px;
	border-bottom: 1px solid eff1f6;
	background-color: #aaaaaa;
    margin: 20px;
    align-items: center;
}

h1 {
    text-align: center;
    text-decoration-color: darkgrey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3 {
    text-align: center;
    text-decoration-color: darkgrey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FFFFFF;
}
label {
    text-align: center;
    text-decoration-color: darkgrey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20.8;
    color: #FFFFFF;
}
.main {
    display:flex;
    margin: 120px;
    justify-content: space-evenly;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    padding: 10px;
    position: relative;
    text-align: center;
    align-items: center;
    margin: 5px;
    width: 220px;
    height: 275px;
    border-radius: 30px;
    background: #212121;
    gap: 5px;
    box-shadow: 5px 5px 15px rgb(25, 25, 25);
}

.user-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    padding: 10px;
    position: relative;
    text-align: center;
    align-items: center;
    margin: 5px;
    width: 650px;
    height: 275px;
    border-radius: 30px;
    background: #212121;
    gap: 5px;
    box-shadow: 5px 5px 15px rgb(25, 25, 25);
}

.icon {
    position: relative;
    margin: 5px;
    width: 96px;
    height: 96px;
    color:white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button {
    margin: 10px;
    text-decoration-color: #313131;
    background-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 30px;
    width: 50%;
    height: 15%;
}
.toggleOn {
    color: white;
    background-color: #313131;
}
.toggleOff {
    color: #313131;
    background-color: white;
}